// Colors

$color-black:			#1e1e1e;
$black--brighter:		#16161c;
$black--brightest:		#323232;

$blue:					#4285f4;
$blue--brighter:		#7391c3;

$gray:					#4c4c4f;
$gray--brighter:		#86888b;
$gray--brighter2:		#727272;
$gray--brightest:		#ccc;


$color-page-background:	white;
