// Fonts

$lato:				'Lato', sans-serif;
$abril:				'Abril Fatface', serif;
$georgia:			'Georgia', serif;
$icons:				'icomoon';


// Font weights

$bold:				700;
$black:				900;
$regular:			400;
$light:				300;


// Default

$base-font-size:	16;
$text:				$lato;
$grid-base-width:	1170;


$o-content:			765;
$o-content--wide:	785;