.o-btn {
	@include btn;
	
	&--blue {
		@include btn-blue;
	}
	
	@media screen and ( max-width: 1024px ) {
		//padding: 0;
		text-align: center;
		font-size: 16px;
		
		.o-sidebar & {
			padding: 0;
		}
	}
	
	@media screen and ( max-width: 480px ) {
		width: 100%;
		//padding: 0 20px;
		text-align: center;
	}
	
	.icon-arrow-right2 {
		float: right;
		line-height: 70px;
		font-size: 16px;
		
		@media screen and ( max-width: $grid-base-width+px ) {
			display: none;
		}
	}
}
