.o-btn {
	@include box-shadow( rgba(black, .15) 0 0 50px );
	@include hover;
	position: relative;
	display: inline-block;
	height: 70px;
	background-color: white;
	padding: 0 40px;
	line-height: 70px;
	white-space: nowrap;
	font-size: em(20);
	font-family: $text;
	color: $blue;
	
	&:hover {
		text-decoration: none !important;

		.no-mobile & {
			background-color: $blue;
			color: white;
		}
	}
	
	&:active {
		@include box-shadow( rgba(black, .2) 0 0 34px );
	}
	
	&--blue {
		background-color: $blue;
		color: white;
		
		&:hover {
			background-color: $color-black !important;
		}
	}
	
	@media screen and ( max-width: 480px ) {
		width: 100%;
		padding: 0 20px;
		text-align: center;
	}
	
	.icon-arrow-right2 {
		float: right;
		line-height: 70px;
		font-size: 16px;
	}
}
