.o-header-serif {
	margin-bottom: 1em;
	font: {
		family: $abril;
		size: em(40);
	}
	line-height: 1.2;
	
	&--center {
		text-align: center;
		font-size: em(36);
	}
	
	@media screen and ( max-width: 480px ) {
		font-size: em(32);
	}
}
