[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.text-blue {
	color: $blue;
}

.fixed {
	padding-top: 90px;
}
	
.owl-carousel {
	display: none;
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.s-target {
	display: none;
	
	&.individual {
		.individual & {
			display: block;
		}
	}
	
	&.entrepreneurs {
		.entrepreneurs & {
			display: block;
		}
	}
}



.wpcf7-not-valid {
	border-bottom-color: red !important;
}