[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.text-blue {
	color: $blue;
}

.fixed {
	padding-top: 90px;
}
	
.owl-carousel {
	display: none;
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}
