.c-author {
	font-size: 14px;

	&__name {
		display: block;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-weight: $black;
 		color: $blue;
	}
	
	img {
		float: left;
		width: 40px; height: 40px;
		margin-right: 25px;
	}
	
	&__details {
		li {
			float: left;
			text-transform: uppercase;
			color: #a2a2a2;
			
			&:after {
				padding-right: 5px;
				content: ' // ';
			}
			
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	
	a {
		&:hover {
			text-decoration: underline;
			color: $blue;
		}
	}
}