.c-cases {
	margin-bottom: 160px;

	&__content {
		padding: 0 20px;
	}

	&__item {
		position: relative;
		min-height: 160px;
		background-color: white;
		margin-bottom: 70px;
		color: white;
		
		.o-header-sansserif {
			background-color: $blue;
		}

		&:nth-child(even) {
			.o-header-sansserif {
				background-color: $color-black;
			}
		}			
	}

	.o-btn {
		margin-bottom: -35px;
	}
	
	p {
		margin: 0;
	}
	
	@media screen and ( min-width: 641px ) {
		&__content {
			padding: 50px grid(120) 0 grid(390);
		}
	}
	
	
}