.c-contact {
	position: relative;
	padding-bottom: 60px;

	&__details {
		position: relative; z-index: 5;
		top: -40px; right: - grid(135);
		float: right;
		width: 720px;
		background-color: white;
		padding: 100px grid(110);
		
		p {
			margin-bottom: 4em !important;
		}
		
		a {
			color: $blue;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		@media screen and ( max-width: 1440px ) {
			right: 0;
		}
		
		@media screen and ( max-width: 720px ) {
			float: none;
			width: 100%;
		}
		
	}
	
	&__parking {
		i {
			@include border-radius;
			float: left;
			width: 46px; height: 55px;
			background-color: $blue;
			margin-right: 20px;
			line-height: 55px;
			text: {
				align: center;
				transform: uppercase;
			}
			font: {
				family: $lato;
				size: em(40);
				weight: $black;
			}
			color: white;
		}

		span {
			display: block;
			padding-top: 6px;
			text-decoration: underline;
			font-size: em(15);
			line-height: 1.3;
			color: $blue;
		}
	}
}