.c-footer {
	position: relative;
	z-index: 2;
	margin-bottom: 60px;

	.o-wrap {
		margin-bottom: 35px;
		padding: {
			left: 20px;
			right: 20px;
		}
		
		&.clear {
			margin-bottom: 80px;
		}
	}
}

