.c-form {
	margin-bottom: 60px;

	&__fields {
		margin-bottom: 40px;
	}

	input[type=text],
	input[type=email],
	textarea {
		padding: 20px 15px;
		border-bottom: 1px solid $gray--brightest;
		font-size: em(16);
	}

	&--contact {
		margin-bottom: 60px;
	}
	
	button[type=submit] {
		padding-left: 110px;

		&:before {
			position: absolute;
			left: 0; top: 0;
			display: block;
			width: 70px; height: 70px;
			background-color: $blue;
			font-family: $icons;
			line-height: 70px;
			text-align: center;
			color: white;
			content: "\e903";
		}
	}
	
	label {
		display: block;
		float: left;
		
		margin-bottom: 20px;
		
		&:not(.c-form__message) {
			width: grid(370);
		}

		&:nth-of-type(2) {
			@media screen and ( min-width: 641px ) {
				margin: 0 grid(30);
			}
		}
	}
	
		
	textarea {
		padding-bottom: 5px;
	}
	
	@include input-placeholder {
		color: black;
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {
		padding: 0 15px;
	}
	
	@media screen and ( max-width: 640px ) {
		label {
			float: none;
			
			&:not(.c-form__message) {
				width: 100%;
			}
		}
	}
	
}