.c-nav-contact {
	float: right;
	text-transform: uppercase;
	white-space: nowrap;
	
	li {
		float: left;
		margin-right: 20px;
		font-size: em(14);
		color: white;
		
		@media screen and ( max-width: 768px ) {
			//float: none;
			//text-align: right;
		}
		
		@media screen and ( max-width: 600px ) {
			margin-right: 0;
		}
	}
	
	a {
		&:not(.icon-mail) {
			&:hover {
				text-decoration: underline;
			}
		}
		
		&.icon-mail {
			&:hover {
				color: white;
			}
		}
	}
	
	.icon-phone {
		font-size: 20px;
	}
	
	[class^="icon-"] {
		display: inline-block;
		
		vertical-align: middle;
		color: $blue;
		
		&:not(.icon-mail) {
			margin-right: 15px;
		}
		
		@media screen and ( max-width: 600px ) {
			display: none;
		}
	}
	
	&__lead {
		@media screen and ( max-width: 1000px ) {
			display: none;
		}
	}
	
	&__text {
		&:hover {
			text-decoration: none !important;
		}
	}
	
	@media screen and ( max-width: 480px ) {
		li {
			font-size: em(12);
		}
	}
	
	@media screen and ( max-width: 375px ) {
		li {
			font-size: em(10);
		}
	}
}