@keyframes show_submenu {
	0% {
		@include opacity(0);
		@include transform(translateY(-20px));
	}

	100% {
		@include opacity(1);
		@include transform(translateY(0));
	}
}


.c-nav-primary {
	right: 0;
	text-transform: uppercase;
	
	@media screen and ( max-width: 1024px ) {
		display: none;
	}

	a {
		display: block;
		padding: 0 10px;
		font-size: em(14);
		white-space: nowrap;

		&:hover {
			color: $blue;
		}
	}
	
	> ul > li {
		float: left;
		position: relative;
		height: 90px;
		
		> a {
			line-height: 90px;
		}

		&:hover {
			> a {
				color: $blue;
			}

			@media screen and ( min-width: 1025px ) {
				.sub-menu {
					display: block;
					-webkit-animation: show_submenu .4s;
				       -moz-animation: show_submenu .4s;
				        -ms-animation: show_submenu .4s;
				         -o-animation: show_submenu .4s;
				            animation: show_submenu .4s;
				}
			}
		}

		&:last-child {
			padding-right: 0;
		}
		
		&.current-menu-item {
			a {
				border-bottom: 2px solid $blue;
			}
		}
	}

	.sub-menu {
		display: none;
		position: absolute;
		right: 0; top: 91px;
		background-color: white;
		padding: 5px 20px;
		text-align: right;
		
		a {
			padding: 8px 0;
		}
	}
	
	&.is-mobile {
		position: absolute;
		top: 80px;
		width: 100%;
		background-color: white;
		padding-bottom: 25px;
		
		> ul > li {
			float: none;
			height: auto;
			text-align: right;

			a {
				padding: 5px 30px 5px 20px;
				line-height: 1.5;
			}
		}
		
		@media screen and ( max-width: 480px ) {
			top: 59px;
		}
	}
}