.c-nav-social {
	float: right;

	&__lead {
		display: block;
		margin-bottom: 20px;
		text-transform: uppercase;
		font: {
			size: em(14);
			weight: $black;
		}
	}

	a {
		padding: 0 15px;
		font-size: em(20);
		color: $blue;
		
		&:hover {
			color: black;

			.c-topbar & {
				color: white;
			}
		}
		
		.c-follow & {
			display: block;
			width: 40px; height: 40px;
			border: 1px solid $blue;
			padding: 0;
			line-height: 40px;
			text-align: center;
			
			&:hover {
				background-color: $blue;
				color: white;
			}
		}
	}
	
	li {
		float: left;
		border-right: 1px solid $blue;

		&:last-child {
			border: none;

			a {
				padding-right: 0;
			}
		}
		
		.c-footer & {
			&:first-child {
				a {
					padding-left: 0;
				}
			}
		}
		
		.c-follow & {
			border: none;
			
			&:first-child {
				margin-right: 20px;
			}
		}
	}
	
	@media screen and ( max-width: 600px ) {
		display: none;
	}
}
