.c-nav-secondary {
	@include box-shadow( rgba(black, .1) 0 0 34px );
	position: relative; 
	left: - grid(70);
	top: -40px;
	z-index: 5;
	float: left;
	width: grid(375);
	background-color: white;
	text-transform: uppercase;
	color: #aeaeae;
	padding: 50px grid(25);

	a {
		display: block;
		padding: 5px 0 5px grid(40, 375);
		border-left: 3px solid transparent;
		font-size: em(20);
	}
	
	li {
		padding: 5px 0;
	}
	
	.nice-select,
	.list {
		width: 100%;
	}
	
	.nice-select {
		display: none;
	}
	
	.current-menu-ancestor > a {
		color: $black--brightest;
	}

	> ul > li {
		font-weight: $black;
		
		> ul {
			padding-left: grid(20, 375);

			> li {
				font-weight: $bold;
			}
		}
	}
	
	.current-menu-item {
		color: $blue;
		
		a {
			border-color: $blue;
		}
	}
	
	a {
		&:hover {
			color: $blue;
		}
	}
	
	@media screen and ( max-width: 1320px ) {
		left: auto;
		width: grid(305);

		a {
			font-size: 1.5vw;
		}
	}
	
	@media screen and ( max-width: 800px ) {
		float: none;
		width: 100%;
		padding: {
			left: 20px;
			top: 10px;
			right: 20px;
		}
		
		> ul {
			display: none;
		}
		
		select {
			width: 100%;
			
		}
		
		.nice-select {
			display: block;
		}
	}
	
}