.c-posts {
	border-top: 1px solid $gray--brightest;
	
	> ul {
		@include flexbox;
		@include flex-wrap(wrap);
	}

	&__box {
		width: 50%;

		&--blue {
			background-color: $blue;
			color: white;
		}
		
		&:first-child,
		&:last-child {
			background-color: $blue;
			color: white;
		}
	}
	
	&__date {
		.c-posts__box--white & {
			color: $blue;
		}
	}
	
	&__excerpt {
		font-family: $georgia;
	}
	
	.icon-arrow-right {
		@include hover;
		font-size: 12px;
		margin-left: 10px;
		vertical-align: middle;
	}
	
	&__item {
		display: block;
		width: 585px;
		padding: 80px 50px 80px 80px;
		
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	
	&__link:hover {
		.icon-arrow-right {
			padding-left: 5px;
		}
	}
	
	&__title {
		display: block;
		margin-bottom: 10px;
		line-height: 1.2;
		font: {
			size: em(24);
			weight: $black;
		}
	}
	
	&__meta {
		display: block;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: em(14);
	}
	
	&__selected {
		background-color: $blue;
		margin-right: 5px;
		padding: 0 5px;
		font-weight: $black;
		color: white;
		
		.c-posts__box:first-child & {
			background-color: white;
			color: $blue;
		}
		
		.c-posts__box:last-child & {
			background-color: white;
			color: $blue;
		}
		
		//.c-posts__box--white & {
			
		//}
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {
		&__item {
			width: 100%;
			padding: 80px grid(50, 585) 80px grid(80, 585);
		}
	}
	
	@media screen and ( min-width: 641px ) {
		&__box,
		&__item {
			float: left;
		}
		
		&__item {
			.c-posts__box:nth-child(odd) & {
				float: right;			
			}
		}
	}

	@media screen and ( max-width: 640px ) {
		&__box {
			width: 100%;
		}

		&__item {
			padding: {
				top: 40px;
				bottom: 40px;
			}
		}
	}
	
	@media screen and ( max-width: 480px ) {
		&__item {
			padding: {
				left: 20px;
				right: 20px;
			}
		}
	}
}