.c-reviews {
	position: relative;
	border: {
		top: 1px solid $gray--brightest;
		bottom: 1px solid $gray--brightest;
	}

	&__content {
		min-height: 500px;
	}

	&__items {
		padding: 145px 0 145px 405px;
	}
	
	&__item {
		padding: 0 70px;
	}
	
	&__author {
		position: relative;
		margin-bottom: 3em;
		padding-left: 90px;
		
		&:before {
			position: absolute;
			left: 0; top: 0;
			display: block;
			width: 60px; height: 60px;
			background-color: $blue;
			font-size: em(88);
			line-height: 100px;
			text-align: center;
			font-weight: $black;
			overflow: hidden;
			color: white;
			content: '“';
		}
		
		h4 {
			margin-bottom: 10px;
			font: {
				size: em(30);
				weight: $black;
			}
			line-height: 1.2;
		}
		
		p {
			font-size: em(14);
			color: $blue--brighter;
		}
	}
	
	.o-header-serif {
		background-color: $blue;
		color: white;
		
		@media screen and ( min-width: 1001px ) {
			position: absolute;
			left: 0;  top: 0;
			width: 405px;
			height: 100%;
			padding: 145px 0 0 80px;
		}
	}
	
	blockquote {
		p {
			line-height: 1.7;
			font: {
				family: $georgia;
				style: italic;
			}
			color: $gray--brighter;
		}		
	}
	
	@media screen and ( max-width: 1000px ) {
		.o-header-serif {
			padding: 60px 0 60px 80px;
		}
		
		&__items {
			padding: 40px 80px 60px 80px;
		}
		
		&__item {
			padding: 0;
		}
	}
	
	@media screen and ( max-width: 768px ) {
		.o-header-serif {
			padding: 60px 0 60px 40px;
		}
		
		&__items {
			padding: 40px 80px 60px 40px;
		}
	}
	
	@media screen and ( max-width: 375px ) {
	
		&__items {
			padding: 20px;
		}

		&__author {
			margin-bottom: 1em;
			padding-left: 0;
			
			&:before {
				display: none;
			}
			
			h4 {
				font-size: em(24);
			}
		}
	}
}