.c-team {
	&__item {
		float: left;
		width: grid(195, $o-content--wide);
		margin-right: grid(100, $o-content--wide);
		
		&:nth-child(3n) {
			margin-right: 0;
		}
		
		a {
			text-decoration: underline;
			color: #9d9d9d;
			
			&:hover {
				text-decoration: none;
				color: $blue;
			}
		}		
	}
	
	@media screen and ( max-width: 640px ) {

		&__item {
			width: 49%;
			margin-right: 0;
			
			.o-media {
				width: 100%;
			}
			
			&:nth-child(even) {
				float: right;
			}
		}
	}
}
